# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false

before_install:
- Rscript -e 'install.packages("devtools", repos = "http://cran.rstudio.com")'
cache: packages
# r_github_packages:
# - kevinrpan/handy
# - jimhester/covr
after_success:
- Rscript -e 'covr::codecov()'
